<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_Projekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV_Projekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>

        
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/"><i class="fa-solid fa-robot" style="color:#ff6219;"></i> Curriculum Vitae</a>
                    <button data-mdb-button-init class="navbar-toggler" 
                            type="button" 
                            data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown hidden-arrow">
                            <a data-mdb-dropdown-init class="nav-link dropdown-toggle text-black"
                               href="#" 
                               id="#navbarDropdown" 
                               role="button"
                               data-bs-toggle="dropdown" 
                               data-bs-target="#funka" 
                               aria-expanded="false">
                                <i class="fa-solid fa-bars text-white"></i>
                            </a>
                           
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" id="funka" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-black" href="/Search/SearchWindow"><i class="fa-solid fa-magnifying-glass text-black"></i>Sök</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="#">
                                <i class="fa-solid fa-envelope text-black"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">1</span>
									Meddelanden
                                    </a>
								</li>
								<li>
                                    <a class="dropdown-item text-black" href="/Account/LogIn"><i class="fa-solid fa-lock text-black"></i>Logga In</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="#"><i class="fa-solid fa-gear text-black"></i>Inställningar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
           
        </nav>

       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-shared">&copy; 2024 - CV_Projekt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
