html {
  font-size: 14px;
}

body {
    background-color: dimgrey;
}
.footer-shared {
    color: lightgrey;
}
i {
    margin: 1px;
}
.dropdown-toggle::after {
    display: none;
}
.vh-100 {
    margin: 0 0 rem 0;
}
a:link {
    color: lightgray;   
}
a:visited {
    color: #ff6219;
}
#cv-nav {
    color: lightgray;
}
.nav-item {
    text-align: right;
}
.card-text {
    margin-left: 2rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}