html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}


body {
    background-image: url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: dimgrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.footer-shared {
    color: lightgrey;
}
i {
    margin: 1px;
}
.dropdown-toggle::after {
    display: none;
}
.vh-100 {
    margin: 0 0 2rem 0;
}
a:link {
    color: #ff6219; 
}
a:visited {
    color: #ff6219;
}
#cv-nav {
    color: lightgray;
}
.nav-item {
    text-align: right;
}
.card-text {
    margin-left: 2rem;
}
.scroll {
    max-height: 100%;
    overflow-y: auto;
}
input[type="checkbox"]:checked {
    background-color: #ff6219;
    border: 1px solid #ff6219;
    color: lightgray;
    accent-color: #ff6219;
}

#selectedParticipantsList {
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
}

.participant-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
}
.participant-name {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.remove-btn:hover {
    background-color: #ff6219;
    color: #fff;
}

#listgroupdiv {
    height: 150px;
}

#dropdownMenu {
    max-height: 150px;
    overflow-y: auto;
}

.formatted-list .formatted-li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 14px;
    color:#fff;
}   

.experience-item .proj-item {
    border-bottom: 1px solid #ff6219;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.experience-container .proj-container {
    
    padding: 10px;
    border: 1px solid #ff6219;
}

.proj-container {
    max-height: 250px;
}


  
.cv-list-group {
    height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ff6219; 
    border-radius: 5px;
    padding: 10px; 
    background-color: #f8f9fa; 
    list-style-type: none;
}

   


settingsLbl 
{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}
.form-control {
    border-radius: 10px;
}
input[placeholder] {
    font-weight: 500;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
