html {
  font-size: 14px;
}

body {
    background-color: dimgrey;
}
.footer-shared {
    color: lightgrey;
}
i {
    margin: 1px;
}
.dropdown-toggle::after {
    display: none;
}
.vh-100 {
    margin: 0 0 rem 0;
}
a:link {
    color: lightgray;   
}
a:visited {
    color: #ff6219;
}
#cv-nav {
    color: lightgray;
}
.nav-item {
    text-align: right;
}
.card-text {
    margin-left: 2rem;
}
.scroll {
    max-height: 100%;
    overflow-y: auto;
}
input[type="checkbox"]:checked {
    background-color: #ff6219;
    border: 1px solid #ff6219;
    color: lightgray;
    accent-color: #ff6219;
}

#selectedParticipantsList {
    max-height: 150px;
    overflow-y: auto;
}

#listgroupdiv {
    height: 150px;
}

#dropdownMenu {
    max-height: 150px;
    overflow-y: auto;
}

    


    .profile-work .a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    .profile-work .a:hover {
       
        color: #ff6219;
        
    }
    #home-tab #work-tab #education-tab #other-tab #project-tab {
        color: black;
    }


   

.profile-tab .lbl {
    font-weight: 600;
    color: #ff6219;
}

.profile-tab .p-tab {
    font-weight: 600;
    color: #0062cc;
}
settingsLbl 
{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}
.form-control {
    border-radius: 10px;
}
input[placeholder] {
    font-weight: 500;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}