@model CV_Projekt.Models.CVViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-4">
        <div class="row">
            @foreach (var cv in Model.Users) 
            {
                <div class="col">
                    <h3>@cv.FirstName</h3>
                </div>
            }
        </div>
    </div>
</div>
            
</div>
    <a asp-controller="Project" asp-action="ProjectView">Gå till projektsida</a>
</div>

