@Model SearchViewModel

<div class="input-group mt-sm-5">
    <input type="search" class="form-control rounded" placeholder="Sök" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn" style="background-color:#ff6219; color:#fff;" data-mdb-ripple-init><i class="fa-solid fa-magnifying-glass"></i>Sök</button>
</div>

<div class="input-group mt-2">
    <button type="button" class="btn" style="background-color:#ff6219;">
    <a asp-controller="Home" asp-action="Index" style="color:#fff;">Startsida</a>
    </button>
</div>

